@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <label>Select list</label>
             <select id = "myList">
              
              
             </select>
        </div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
            <input type="button" id="sendButtonIndividual" value="Send Message Individual" />
        </div>
        <div class="row">
            <div class="col-8">
                Id para reiniciar <input type="text" id="idConnection" />
                <input type="button" id="reiniciarControlador" value="Reiniciar" />
                <input type="button" id="iniciarJogo" value="IniciarJogo" />
                <input type="button" id="download" value="Download" />
                <input type="button" id="buscarJogosInstalados" value="Jogos Instalados" />
                <input type="button" id="removerJogosInstalados" value="Remover Jogo" />
                <input type="button" id="downgradeAplicacao" value="Downgrade jogo 3" />
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="row">
            <div class="col-12">
                <input type="button" id="jogo1" value="Instalar jogo 1" />
                <input type="button" id="jogo2" value="Instalar jogo 2" />
                <input type="button" id="jogo3" value="Instalar jogo 3" />
                <input type="button" id="jogo4" value="Instalar Atualização 3" />
                <input type="button" id="controlador" value="Instalar Atualização Controlador" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>